.menu{
	left: 0px;
    top: 0px;
    position:fixed;
    height: 100%;
    width: 170px;
    border: 5px black solid;
    background-color: white;
}
.menu a{
    display: block;
    text-decoration: none;
    color: black;
    font-size: 30px;
    padding: 10px;
}
.menu a:hover{
    background-color: darkgray;
}
.title{
    font-size: 30px;
    text-align: left;
    width: 100%;
    height: 600px;
    padding-top: 100px;
    border: 5px rgb(0, 0, 0) solid;
    border-radius: 10px;
    margin-left: 175px;
    background-color: darkgrey;
}
.title p{
    display: inline-block;
    border: 2px black solid ;
    background-color: lightgrey;
}
#alipi{
    margin-left: 175px;
    border-radius: 10px ;
    border: 5px black solid;
    margin-top: 50px;
    text-align: center;
    width: 100%;
}
#alipi p{
  display: inline-block;
  font-size: 20px;
  border: 3px black solid;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 5px;
}
